.svn/
.bin/
obj/
.idea/
latest/
/env-vars.bat
*.suo
[Bb]uilds/
[Ee]xpress/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.pidb
*.userprefs
*.test-cache
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.resharper.user
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App_Data/
.DS_Store
*.resharper.user
*.suo
*.user
*.dll

Builds/Connector.Server.WpfApplication/localhost.pfx
*.nupkg
*.nuspec
*.psm1
*.ps1
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport_Information.png
_UpgradeReport_Files/UpgradeReport_Success.png
_UpgradeReport_Files/UpgradeReport_Warning.png
UpgradeLog.htm

/Application/ECB.Gateway/Installer/Installer_Include/*.msi
/Application/ECB.Gateway/Installer/Installer_Include/*.msi
/application/ecb.gateway/installer/Application_Build/*.msi
/application/ecb.gateway/installer/Application_Build/*.msi
/application/ecb.gateway/installer/Application_Build/License.txt
/application/ecb.gateway/installer/Application_Build/License.txt
/Application/AdapterBuilds
/Application/ServiceBuilds
